
 legend {
 	width: 0px;
 	height: 0px;
 	overflow: hidden;
 }
 
  fieldset {
 	border: 0 none;
 	margin-left: 430px;
 	margin-right: 40px;
 	margin-bottom: 27px;
 }
  #logo{
		float: left;
	}
  #searchform {
		display: block;
		margin-top: 25px;
	}
	#logo{
		height: 50px;
		margin: 2px;
	}
	
	